body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #222;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  padding: 70px 100px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.section p {
  max-width: 700px;
  line-height: 1.6;
}

.education {
  margin-top: 20px;
}

.education li {
  margin-bottom: 15px;
}
